* {
  margin: 0;
}

:root {
  --blue: #3b82f6;
  --grey: #d6d3d1;
  --orange: #fcd34d;
}


body {
  display: inline-grid;
  grid-template-rows: 20vh 80vh;
  grid-template-columns: 20vw 80vw;
  grid-template-areas: 
  "dashboard header"
  "dashboard main"
}

#dashboard {
  grid-area: dashboard;
  background-color: var(--blue);
  color: white;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

#header {
  grid-area: header;
  background-color: white
}

#main {
  grid-area: main;
  background-color: var(--grey);
}

.title {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  gap: 10px;
}

.section {
  display: flex;
  gap: 10px;
  margin-left: 30px;
}

